html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $acrom;
  color: $text-color;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.main-heading {
  @include font($weight: 'extra-bold');
  color: $white-color;
  font-size: rem(45px);
  line-height: rem(56px);
}
