html {
  box-sizing: border-box;
  
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $acrom;
  color: $text-color;
  font-size: rem(13.5);
  line-height: rem(19.5);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.main-heading {
  @include font($weight: 'extra-bold');
  color: $white-color;
  font-size: rem(45px);
  line-height: rem(56px);
}

.container {
  width: 446px;
  margin: 0 auto;

  @include for-size(tablet-portrait-up) {
    width: 640px;
  }

  @include for-size(desktop-up) {
    width: 980px;
  }
}
