// COLORS
$white-color: #ffffff;
$black-color: #000000;
$orange-color: #ff6b08;
$blue-color: #16ebfe;
$dark-blue-color: #052139;
$text-color: #3f4144;

$form-placeholder: #bfbfbf;

$footer-blue-color: #181c27;
$footer-grey-color: #202020;
$footer-border-color: #1b4371;
$footer-hr-color: #87898e;

// FONTS
$acrom: 'Acrom-font', sans-serif;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$extra-bold: 800;
