.awards-box {
  &__img {
    width: 41px;
    height: 136px;
  }
  &__item {
  display: flex;
   margin-bottom: 45px;
    &-title {
      display: block;
      font-size: rem(12);
      font-family:'Acrom-font';
      /* to do mistakes */
      margin-bottom: 32px;
      }
  }
}
