.black-list {

    min-width: rem(444);

    &__title {
        position: relative;
        font-family: $acrom;
        font-weight: $bold;
        font-size: rem(14);
        text-transform: uppercase;
        margin-bottom: rem(14);

        &::before {
            content: "";
            position: absolute;
            background-color: rgb(0, 0, 0);
            font-family: $acrom;          
            width: rem(9);
            height: rem(9);
            top: rem(4);
            left: rem(-24);                                     
        }
    }


    &__description {
        font-family: $acrom;
        font-size: rem(13);
        line-height: 1.444;
        color: $text-color;
        margin-bottom: rem(26);
    }

}
