.black-list {
   padding: 25px;

    &__item {
        width: 290px;
    }

    &__title {
        position: relative;
        font-family: 'Acrom' sans-serif;
        font-weight: bold;
        font-size: rem(14px);
        text-transform: uppercase;
        margin-bottom: 14px;

        &::before {
            content: "";
            background-color: rgb(0, 0, 0);
            position: absolute;          
            width: 9px;
            height: 9px;
            top: 4px;
            left: -24px;                                       
        }
    }


    &__description {
        font-family: 'Acrom' sans-serif;
        font-size: rem(10px);
        margin-bottom: 26px;
    }

}