 .black-list{
  display: flex;
  flex-flow: row wrap; //added

    &__item {
      padding-left:  rem(40);
      position: relative;

      &::before{
        content: "";
        position: absolute;
        width: rem(9);
        height: rem(9);
        top: 5px;
        left: 0;
        background-color: black;

      }
    }

    &__title {
      text-transform: uppercase;
      color: $black-color;
      font-weight: 800;
      margin-bottom: 10px;
      
    }

    &__description{
      font-size: rem(14);
      font-family: $acrom;
      font-weight: normal;
      color: rgb(0, 0, 0);
      line-height: 1.444;
      margin-bottom: rem(25);
        
          
          
        }
     }
.black-list__decor {
  font-weight: $bold;
}

.orange-text{
  color: $orange-color;
  font-family: $acrom;
  font-weight: $medium;
  font-size: rem(14);
  line-height: rem(19.5);

}



    
  
  

      
    

      
       
  

  


    
    
  
    
  
