.footer-last {
  background-color: $black-color;

  &_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: rem(24);
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    font-family: $acrom;
    font-weight: $light;
    font-size: rem(6);
    line-height: rem(16);
    color: $text-color;
  }
}
