.footer {
  background-color: $footer-blue-color;

  &-box {
    height: rem(166);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-list {
    width: 576px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white-color;
    font-size: rem(9);

    &__title {
      font-weight: $extra-bold;
      margin-bottom: rem(14);
    }

    &__text {
      font-weight: $regular;
      line-height: 1.5;
    }

    &__link {
      font-weight: $regular;
      line-height: 1.5;
    }

    &__mail {
      font-weight: $extra-bold;
      line-height: 2;
    }
  }

  &-btn {
    width: rem(138);
    height: rem(32);
    font-size: rem(8);
    border: 1px solid $footer-border-color;
    color: $white-color;
  }
}
