.orange-text-15 {
  color: $orange-color;
  font-family: $acrom;
  font-weight: $medium;
  font-size: rem(15);
  line-height: rem(19.5);
}

.orange-text-13 {
  color: $orange-color;
  font-family: $acrom;
  font-weight: $medium;
  font-size: rem(13.5);
  line-height: rem(19.5);
}
