.title {
  
    &-text{
      font-size: rem(16);
      font-family: $acrom;
      color: $white-color;
      font-weight: $bold;
      text-transform: uppercase;
      line-height: 1.625;
      background-color: $black-color;
      
    }
      
  }

.bold-text{  
  font-size: rem(16);
  font-family: $acrom;
  color: $black-color;
  font-weight: bold;
  line-height: 1.5; 
}
  
.section-7-img,
.black-list__decor {
    margin-bottom: 20px;
}

.section-7__box{
  display: flex;
  flex-wrap: wrap;
}

.simple-text{
    margin-bottom: 45px;
}

