.section-9 {
  padding-top: rem(10);
  justify-content: center;

  &__orange-text {
    width: rem(360);
  }
}

.margin-bottom-22 {
  margin-bottom: rem(22);
}

.margin-bottom-60 {
  margin-bottom: rem(60);
}

.img-4stap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
