/* Delete container*/
.section-title {
  text-align: center;
  margin-bottom: 12px;
}
.wrapper-will-learn {
  margin: 0 auto;
    & img {
      width: 445px;
      height: 160px;
    }
}
.learn-box__title{
  margin-bottom: 17px;
}
.wrapper-will-learn-box__text{
  margin-bottom: 40px;
}
.wrapper-will-learn-box__img {
  margin-bottom: 62px;
}
.wrapper-awards {
  margin: 0 auto;
  padding: 0; 
}
.awards-box {
    &__item{
    margin-bottom: 45px;
      &-title {
        font-size: rem(12);
        font-family:'Acrom-font';
        /* to do mistakes */
        margin-bottom: 32px;
        }
      & h4 {
        font-size: rem(14);
        font-family: 'Acrom-font';
        font-weight: 800;
        margin-bottom: 12px;
      }
      & p {
        font-size: rem(14);
        font-family: 'Acrom-font';
      }
    }
}


