// .container {
//   margin: 0 auto;
//   width: rem(446);
// }

.section-wrapper__unit {
  margin: 0 auto;
  padding: 0;
  width: rem(400);
}

.section-14-img {
  margin-bottom: rem(45);
}

// .wrapper__text {
//   text-align: center;
//   margin: 0 auto;

// }

.section-14--orange-text {
  margin-bottom: rem(23);
  line-height: rem(16.5);
}

.section-14__title {
  text-align: center;
  margin: 0 auto;
  margin-bottom: rem(28);
  
}

.section-14__text {
  margin: 0 auto;
  margin-bottom: rem(56);
  width: rem(300);
}