.title {
  @include font($weight: 'regular');
  color: $black-color;
  font-size: 27px;
  line-height: 34px;

  &-accent {
    color: $white-color;
    background-color: $black-color;
  }

  &__description {
  }
}
